# RL environment dependencies
gymnasium
minigrid
numpy
pyyaml
torch

# RL algorithm dependencies
stable_baselines3

# Training dependencies
tqdm
rich

# Visualization dependencies
matplotlib
setuptools
tensorboard

# Video recording dependencies
moviepy
imageio
imageio-ffmpeg